In [1]:
#import libraries
import numpy as np
import matplotlib.pyplot as plot
import pandas as pd

In [2]:
dataset=pd.read_csv('insurance_pre.csv')
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [6]:
dependent=dataset[['charges']]

In [7]:

from sklearn.svm import SVR

In [ ]:
from sklearn.model_selection import GridSearchCV

parameter_grid ={'kernel':['rbf','poly','sigmoid','linear'],
                'C':[10,50,100,200,1000,2000,3000],'gamma':['auto','scale']}


grid = GridSearchCV(SVR(),parameter_grid,refit=True,verbose=3,n_jobs=1)

# fitting the model for grid search

grid.fit(independent,dependent)

Fitting 5 folds for each of 56 candidates, totalling 280 fits
[CV 1/5] END .....C=10, gamma=auto, kernel=rbf;, score=-0.114 total time=   0.0s

C:\Users\hema\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\hema\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 2/5] END .....C=10, gamma=auto, kernel=rbf;, score=-0.111 total time=   0.0s
[CV 3/5] END .....C=10, gamma=auto, kernel=rbf;, score=-0.079 total time=   0.0s

C:\Users\hema\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\hema\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 4/5] END .....C=10, gamma=auto, kernel=rbf;, score=-0.103 total time=   0.0s
[CV 5/5] END .....C=10, gamma=auto, kernel=rbf;, score=-0.106 total time=   0.0s

C:\Users\hema\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\hema\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
#print best_parameter  after tuning
#print(grid.best_params_)
re=grid.cv_results_
#print(re)
#grid_predictions =grid.predict(X_test)

#print classification report

#rom sklearn.metrics import r2_score
#_score=r2_score(y_test,grid_predictions)

print("The R_score value for best parameter {}:",format(grid.best_params_))

In [ ]:
table =pd.DataFrame.from_dict(re)
table

In [ ]:
age_input=int(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=int(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

In [ ]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction) )